.container {
  position: relative;
  width: 100%;
  height: 120px;
  background-color: #131722;
  border-top: 1px solid var(--border-color);
}

.chart {
  width: 100%;
  height: 100%;
}

@media (max-width: 768px) {
  .container {
    height: 100px;
  }
}

@media (max-width: 480px) {
  .container {
    height: 80px;
  }
}
