.layout {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.main {
  flex: 1;
  overflow: hidden;
}

@media (max-width: 480px) {
  .main {
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
  }
}
